/* CSS những thành phần có cấu hình chung */
:root {
    --text-color:#333;
    --white-color:#fff;
    --black-color:#000;
    --primary-color: #ee4d2d;
    /* rgb(238, 75, 43) */
}

*{
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* RESPONSIVE */
.grid {
    width: 1850px;
    margin: 0 auto;
    max-width: 100%;
}

/* Trong trường hợp không muốn sử dụng width 1200px */
.grid__full-width {
    width: 100%;
}

/* Những thẻ nằm trong class này đều nằm trên hàng ngang */
.grid__row {
    display: flex;
    flex-wrap: wrap; /* Tổng độ dài vượt quá thì sẽ xuống hàng */
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Modal */
.modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: fixed;
}

.modal__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal__body {
    z-index: 1;
    margin: auto;
    position: relative;
}

/* Phần disable nếu như chưa điền đủ thông tin khi nào cần dùng thì sử dụng*/
.disable {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}
/* ================================================ */